{% extends "base.html" %}

{% block content %}
  <b>What chat room would you like to enter?</b>
  <br />
  <ul>
    {% for room in rooms %}
      <li>
        <a href="{% url 'chat:room' room.name %}">{{ room.name }}</a>
      </li>
    {% empty %}
      <li>There are no chat rooms available.</li>
    {% endfor %}
  </ul>
  <hr />
  <form action="{% url 'chat:get-create-room' %}" method="post">
    {% csrf_token %}
    <label for="room-name">You can create a new room:</label>
    <input id="room-name" name="room-name" type="text" size="32" autofocus />
    <br />
    <button type="submit">Create room</button>
  </form>
{% endblock content %}
