{% extends "base.html" %}

{% block title %}
  {{ room_name }}
{% endblock title %}
{% block content %}
  <h4>Welcome {{ request.user.username }} to the room {{ room_name }}!</h4>
  {% spaceless %}
    <textarea id="chat-log" cols="100" rows="20" class="form-control" readonly>
    {% for message in previous_messages %}
      {{ message }}
    {% endfor %}
    </textarea>
    <br />
  {% endspaceless %}
  <input id="chat-message-input"
         type="text"
         size="64"
         class="form-control"
         placeholder="Write a message..." />
  <button id="chat-message-submit" class="btn btn-primary" type="button">Send</button>
{% endblock content %}
{% block inline_javascript %}
  {{ room_name|json_script:"room-name" }}
  <script>
    let textarea = document.querySelector("#chat-log");
    textarea.value = "";
    const roomName = JSON.parse(document.getElementById("room-name").textContent);
    let userName = "{{ request.user.username }}";

    const chatSocket = new WebSocket(
      "ws://" +
      window.location.host +
      "/ws/chat/" +
      roomName +
      "/"
    );

    chatSocket.onmessage = function(e) {
      const data = JSON.parse(e.data);
      if (data.is_history && data.user !== userName) {
        return;
      }
      textarea.value += (data.message + "\n");
      textarea.scrollTop = textarea.scrollHeight;
    };

    chatSocket.onclose = function(e) {
      console.error("Chat socket closed unexpectedly");
    };

    document.querySelector("#chat-message-input").focus();
    document.querySelector("#chat-message-input").onkeyup = function(e) {
      if (e.keyCode === 13) { // enter, return
        document.querySelector("#chat-message-submit").click();
      }
    };

    document.querySelector("#chat-message-submit").onclick = function(e) {
      const messageInputDom = document.querySelector("#chat-message-input");
      const message = messageInputDom.value;
      if (message !== "") {
        chatSocket.send(JSON.stringify({
          "user": userName,
          "message": message
        }));
      }
      messageInputDom.value = "";
    };
  </script>
{% endblock inline_javascript %}
